body {
  background: url(./markus-spiske-Skf7HxARcoc-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: rgb(15, 11, 11);
  padding: 24px;
  font-weight: bolder;
  font-size: 4rem;
  margin-top: 4em;
  background-color: grey;
  opacity: .9;
  border-radius: 1.5em
}

.projecth1 {
  margin-top: 1em;
}



img {
  height: 300px;
  width: 300px;
  margin: 16px;
  border: 5px solid black;
}

.gallery {
  display: flex;
  padding: 48px;
  justify-content: center;
  flex-wrap: wrap;
}